
      
<div class="text-success">
  <%= flash[:notice] %>　
</div>

   <p>本のタイトル: <%= @book.title %></p>

   <p>感想: <%= @book.body %></p>
   <span><%= link_to "Edit", edit_book_path(@book.id) %></span> <span class="separate">|</span> <span><%= link_to "Back", "/books" %></span>
